* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li,
a {
  font-size: 22px;
  font-weight: 200px;
  text-decoration: none;
}
li,
a,
p,
.dropbtn {
  font-family: "Inconsolata", monospace;
  color: white;
}
body {
  min-height: 100vh;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 85px;
  font-weight: bold;
  font-family: "Dela Gothic One", cursive;
  padding-top: 85px;
  padding-bottom: 55px;
  color: white;
}
p {
  padding: 15px;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lineup {
  animation: 2s anim-lineUp ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.mobile-buttons {
  display: none;
}
.mainpage-name {
  padding-top: 25px;
}
@media screen and (max-width: 800px) {
  body {
    background-size: auto 100%;
  }
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
    text-align: center;
  }

  .mobile-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .mobile-button {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: none;
    border-right: none;
    text-decoration: none;
    padding: 15px;
  }
}
